@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Quentin;
  src: url('./fonts/Quentin.otf');
}

/* TODO: remove if router history works and each verse page has a hard link */
/* html {
  overscroll-behavior: none;
} */

:not(input) {
  user-select: none;
}
